.backdrop {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.cart-modal {
  position: fixed;
  top: 74px;
  right: 200px;
  width: 350px;
  background-color: white;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 5px;
  padding: 15px;
}

.overlay-item-titles {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 20px;
}
.overlay-total-containt {
  display: flex;
  justify-content: space-between;
}

.overlay-buttons-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.btn {
  flex-basis: 50%;
}

.link-router a {
  text-decoration: none;
}
.overlay-items-containter {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.no-items-overlay {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
  text-align: center;
}
no-items-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.noItmesLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
