@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  background-color: transparent;
}
.links-section {
  flex-basis: 33%;
}
.header-row ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.cat-link {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  padding-bottom: 20px;
  color: black;
}
.cat-link p {
  text-transform: uppercase;
  color: #000;
}
.cat-link p:hover,
.cat-link a:hover {
  color: var(--greenColor);
  cursor: pointer;
  user-select: none;
}
.cat-link:hover {
  border-bottom: 2px solid var(--greenColor);
}
.cat-link.acitve-cat {
  border-bottom: 2px solid var(--greenColor);
}
.cat-link.acitve-cat a {
  color: var(--greenColor);
}
.links-section {
  font-size: 16px;
}

.bag-section {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
}
.bag-section img {
  width: 41px;
}
.cart-section {
  flex-basis: 33%;
  align-self: left;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.currencyAmount {
  font-size: 18px;
  margin-right: 5px;
}
.currency {
  margin-right: 10px;
  top: 100px;
}
.cart-icon,
.currency,
.currencyAmount {
  cursor: pointer;
  user-select: none;
}

.cart-icon {
  position: relative;
}
.cart-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  right: -12px;
  top: -8px;
  opacity: 0;
}
.cart-badge-visible .cart-badge {
  opacity: 1;
}
.currency-list {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 114px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0px 4px 35px rgba(85, 88, 90, 0.3));
}

.currency-item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;
}

.currency-icons-section {
  display: flex;
}
