.addremove-div2 {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  user-select: none;
}
.addremove-div2:hover {
  background-color: rgb(5, 48, 15);
  color: white;
}
