.addremove-div {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  user-select: none;
}

.addremove-div:hover {
  background-color: rgb(5, 48, 15);
  color: white;
}
